/Relax.Characters/bin
/Relax.Characters/obj
/.vs
/Relax.Characters.Models/bin
/Relax.Characters.Models/obj
/Relax.Characters.Client/bin
/Relax.Characters.Client/obj
/Relax.Characters.Tests/bin
/Relax.Characters.Tests/obj
/*.user
/Relax.Characters.DbRepositories/bin
/Relax.Characters.DbRepositories/obj
/Relax.Characters.InternalModels/bin
/Relax.Characters.InternalModels/obj
